name: Deployments Pipeline

on:
  push:
    # paths:
    #   - probando/**/*
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  avoid_reduncy:
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel Previous Redundant Builds
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}

  dependencies:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4.0.0
        with:
          node-version: "21.1.0"
          cache: "npm"
          cache-dependency-path: "probando/*"
      - name: Installing dependencies
        run: cd probando && npm install

  build:
    needs: [dependencies]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4.0.0
        with:
          cache: "npm"
          node-version: "21.1.0"
          cache-dependency-path: "probando/*"
      - name: Installing dependencies
        run: cd probando && npm ci
      - name: Building
        run: cd probando && npm run build
      - uses: actions/upload-artifact@v3.1.3
        with:
          name: dist
          path: probando/dist

  deploy:
    needs: [build]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Set AWS credentials
        if: ${{ github.event_name == 'push' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          # healthcheck: "http://1023c12-grupo2-pi.s3-website-us-east-1.amazonaws.com/"
          # rollbackonhealthcheckfailed: true
      - uses: actions/download-artifact@v2.1.1
        with:
          name: probando/dist
          path: probando/dist
      - name: Deploy to AWS S3
        run: aws s3 sync ./probando/dist/. s3://1023c12-grupo2
