name: Deployments Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  avoid_reduncy:
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel Previous Redundant Builds
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}

  dependencies:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4.0.0
        with:
          cache: "npm"
          node-version: "21.1.0"
      - name: Installing dependencies
        run: npm ci

  build:
    needs: [dependencies]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Move to project
        run: cd probando
      - uses: actions/setup-node@v4.0.0
        with:
          cache: "npm"
          node-version: "21.1.0"
      - name: Installing dependencies
        run: npm ci
      - name: Building
        run: npm run build
      - uses: actions/upload-artifact@v3.1.3
        with:
          name: dist
          path: dist

  deploy:
    needs: [build]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Set AWS credentials
        if: ${{ github.event_name == 'push' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          access_key_id: ${{secrets.AWS_ACCESS_KEY_ID}}
          secret_access_key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws_region: ${{secrets.AWS_REGION}}
          healthcheck: "http://1023c12-grupo2-pi.s3-website-us-east-1.amazonaws.com/"
          rollbackonhealthcheckfailed: true
      - name: Deploy to AWS S3
        run: aws s3 sync ./dist/. s3://1023c12-grupo2
